@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    color: white;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('img/BG-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(20px);
    padding: 2em;
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    width: 80vw;
    transition: all .5s e;
}

div>div.mensagem {
    display: none;
}

div>h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

div>p {
    text-align: center;
    font-weight: bold;
}

div>p {
    margin-bottom: 1.5em;
}

form>div {
    background-color: black;
    border-radius: 5px;
    margin: 5px 0px;
    border: 1px solid white;
    padding: .3em;
}

label {
    display: none;
}

i {
    padding: 5px;
    width: 35px;
    cursor: pointer;
}

div>input{
    font-size: 1em;
    color: black;
    width: calc(100% - 40px);
    transform: translateY(-3px);
    padding: 4px;
    cursor: pointer;
}

input[type=submit] {
    display: block;
    color: black;
    margin: 1.5em 0px;
    padding: .5em;
    width: 100%;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
    transition: all .3s ease;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

a {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    padding: .5em;       
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: all .3s ease;
}

a:hover {
    background-color: white;
    color: black;
}

ul {
    margin-bottom: 2em;
    background-color: white;
    border-radius: 25px;
    padding: 1em 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.500);
}

ul>li {
    margin: 5px 0px 8px 20px;
    font-weight: bold;
    color: black;
}

ul>li::before {
    content: "+ ";
}

div.campo>p {
    text-decoration: underline;
}